<!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; The Triangle. All rights are reserved, except where otherwise noted. The Triangle is an independent student organization and is not owned nor operated by Drexel University. </p>
    </footer>