<!-- Header -->
    <header id="header">
        <a href="{{ url('homepage') }}" class="logo"><strong>Site</strong> Logo</a>
        <ul class="icons">
            {% for socialMedia in theme.social_media if socialMedia.link %}
                <li><a href="{{ socialMedia.link }}" class="icon {{ socialMedia.icon }}"><span class="label">{{ socialMedia.label }}</span></a></li>
            {% endfor %}
        </ul>
    </header>