{% extends 'partials/_master.twig' %}

{% block main %}
    <!-- Content -->
        <section>
            <header class="main">
            <h1>{{ record.title }}</h1>
            </header>

            {% if record.image is not empty %}
                <span class="image main">
                    {{ record.image|showimage('1154', '375') }}
                </span>
            {% endif %}

            {# Output all fields(excluding image field already output before) in the order as defined in the contenttype.
            To change the generated html and configure the options, see:
            https://docs.bolt.cm/templating #}
            {% with { 'record': record, 'common': false, 'repeaters': true, 'exclude': ['image'] } %}
                {{ block('sub_fields', 'partials/_sub_fields.twig') }}
            {% endwith %}

            {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
            {{ dump(record) }}
            #}

            {% include 'partials/_recordfooter.twig' with { 'record': record, 'extended': true } %}
        </section>

{% endblock main %}